<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>bubbleicon.png</string>
			<key>Shell Script File</key>
			<string>pronouncer.sh</string>
			<key>Regular Expression</key>
			<string>([a-zA-Z-']+)</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>Pronouncer</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>mailto:iAbdulelah@gmail.com</string>
			<key>Name</key>
			<string>Abdulelah</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Uses "Dictionary.com" to provide you with the right pronunciation of the highlighted word. Say goodbye to "Say".</string>
	<key>Extension Identifier</key>
	<string>com.pyed.popclip.extension.pronouncer</string>
	<key>Extension Name</key>
	<string>Pronouncer</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
